@import 'mixins';
//
//----------------------------------------------------------------------------//
//
html {
    font-size: 12pt;
}

.homepage {
    &-header {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: url(https://goo.gl/7RnyhG)/* url(https://goo.gl/c8uHBe) */
        no-repeat center center fixed;
        background-size: cover;
        height: 500px;
        &-logo {
            height: 200px;
            margin-top: 0px;
            background: transparent;
        }
        &-text {
            margin-top: 30px;
            font-size: 32pt;
            color: #8c8f94;
            display: block;
            position: relative;
            font-family: 'didot';
            text-align: center;
            font-weight: 100;
            &:before {
                content: attr(text);
                position: absolute;
                top: -2px;
                left: -2px;
                font-family: "didot";
                color: #fff;
            }
        }
        &-button {
            @include buttonStyle(white);
            width: 75%;
            height: auto;
            margin-top: 80px; //margin-bottom: 60px;
            &-closeBtn {
                left: 60px;
                padding: 2px;
            }
        }
    }
    &-signUp {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        background-color: #fd9644;
        padding-bottom: 30px;
        &-header {
            font-family: 'didot';
            color: white;
            text-align: center;
            margin-top: 20px;
            margin-bottom: 20px;
            font-size: 30px;
        }
        &-buttongrp {
            display: flex;
            justify-content: space-around;
            &-button {
                @include buttonStyle(white);
                width: 150px;
            }
        }
    }
}