@font-face {
  font-family: "Caferus_Basic";
  src: url(../fonts/CaferusBasic.otf) format("opentype"); }

@font-face {
  font-family: "Caferus_Inline";
  src: url(../fonts/CaferusInline.otf) format("opentype"); }

@font-face {
  font-family: "Caferus_Shadow";
  src: url(../fonts/CaferusShadow.otf) format("opentype"); }

@font-face {
  font-family: "spark";
  src: url(../fonts/Spark_Plug.otf) format("opentype"); }

html {
  font-size: 12pt; }

.homepage-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url(https://goo.gl/7RnyhG) no-repeat center center fixed;
  background-size: cover;
  height: 500px; }
  .homepage-header-logo {
    height: 200px;
    margin-top: 0px;
    background: transparent; }
  .homepage-header-text {
    margin-top: 30px;
    font-size: 32pt;
    color: #8c8f94;
    display: block;
    position: relative;
    font-family: 'didot';
    text-align: center;
    font-weight: 100; }
    .homepage-header-text:before {
      content: attr(text);
      position: absolute;
      top: -2px;
      left: -2px;
      font-family: "didot";
      color: #fff; }
  .homepage-header-button {
    width: 200px;
    background: transparent;
    border: 1px white solid;
    color: white;
    border-radius: 0;
    width: 75%;
    height: auto;
    margin-top: 80px; }
    .homepage-header-button:hover {
      color: #fff; }
    .homepage-header-button:active {
      color: #ffffffb3;
      border-color: #ffffffb3;
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
      outline: 0; }
    .homepage-header-button-closeBtn {
      left: 60px;
      padding: 2px; }

.homepage-signUp {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  background-color: #fd9644;
  padding-bottom: 30px; }
  .homepage-signUp-header {
    font-family: 'didot';
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px; }
  .homepage-signUp-buttongrp {
    display: flex;
    justify-content: space-around; }
    .homepage-signUp-buttongrp-button {
      width: 200px;
      background: transparent;
      border: 1px white solid;
      color: white;
      border-radius: 0;
      width: 150px; }
      .homepage-signUp-buttongrp-button:hover {
        color: #fff; }
      .homepage-signUp-buttongrp-button:active {
        color: #ffffffb3;
        border-color: #ffffffb3;
        box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        outline: 0; }

.signUpPage-form-input {
  margin: 5px;
  width: 90%; }
